html,
body,
.block {
    height: 100%;
}

span h5 {
    margin-right: 10px;
}

pre[class*="language-"] {
    padding: 25px 12px 7px 12px;
}

body nav {
    display: flex;
    flex-grow: 1;
}

h6 {
    font-size: 25px;
    font-weight: 100;
}

h6 span {
    font-weight: 300;
}

span a {
    margin-left: 15px;
}

span a i {
    position: relative;
    top: 8px;
    font-size: 45px !important;
}


/* COLORS */

#components nav ul li a:hover,
#components nav ul li.active a,
.remar-orange {
    background-color: #FF5722 !important;
}

.link,
.remar-orange-text {
    color: #FF5722;
}

.remar-green {
    background-color: #4CAF50 !important;
}

.remar-green-text {
    color: #4CAF50;
}

.remar-red {
    background-color: #F70000 !important;
}

label .required-indicator,
.remar-input.invalid+label,
.remar-red-text {
    color: #F70000 !important;
}

.page-footer,
.remar-brown {
    background-color: #5D4037 !important;
}

.dropdown-content li span,
.header,
.remar-brown-text {
    color: #5D4037;
}

.remar-input.valid+label,
.remar-input:focus:not([readonly])+label {
    color: #5D4037 !important;
}

.remar-black {
    background-color: #212121 !important;
}

.remar-black-text {
    color: #212121;
}


/* PANELS */

.card-panel {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: transparent;
    box-shadow: none;
}

.card-panel--content {
    margin-top: 20px;
}


/* MODAL */

.remar-modal {
    text-align: center;
}

.remar-modal .modal-content h4 {
    border-bottom: 1px solid #E0E0E0;
}


/* FORM INPUT */
.remar-input {
    color: #413C3C;
    border-bottom: 1px solid #717171 !important;
}

.remar-input:focus {
    border-bottom: 1px solid #5D4037 !important;
    box-shadow: 0 1px 0 0 #5D4037 !important;
}

.remar-input.valid {
    border-bottom: 1px solid #5D4037 !important;
    box-shadow: 0 1px 0 0 #5D4037 !important;
}

.remar-input.invalid {
    border-bottom: 1px solid #F70000 !important;
    box-shadow: 0 1px 0 0 #F70000 !important;
}


/* NAVBAR */
nav img.logo {
    width: 250px;
}

.nav-logo {
    height: 112px;
    width: 16.666%;
    padding: 14px 25px;
}

.nav-content-container {
    display: flex;
    flex-direction: column;
    width: 83.3333%;
}

.nav-content {
    position: absolute;
    bottom: 0px;
}


/* FOOTER */

.page-footer {
    margin-top: 20px;
    padding: 20px 0px 0px 0px;
    font-size: 15px;
}

.footer-copyright {
    padding: 0px;
}


/* ETC */

.box {
    height: 100px;
    width: 100px;
    margin: auto;
}

.link:hover {
    color: #FF7043;
}

.content-container {
    padding: 0 100px !important;
    background-color: #FCFCFC;
    z-index: 0;
}

.remar-max-size{
    width: 992px;  
} 

.buttons {
    position: relative;
    padding-top: 20px;
}


/* COMPONENTS CONTENT TAB */

#components {
    display: flex;
    flex-direction: column;
}

#components nav {
    background-color: #FF9845 !important;
    z-index: 2;
}

#components nav a {
    transition: none;
}
